# Select


```sql
SELECT * FROM table_name;
SELECT column_name1,column_name2,... FROM table_name;
SELECT * FROM table_name WHERE condition;
SELECT column_name1,column_name2,... FROM table_name WHERE condition;
```

## Examples

find the name and student id:
```sql
select student_id,name from students;
```

find the top ranked students:
```sql
select * from students where average>=17;
```

find the top ranked students living in Tehran:
```sql
select * from student where average>=17 and city='Tehran';
```

find top ranked students from colleges 10 and 5:
```sql
select * from student where [fill here]
```

## redundancy

what if we want names of cities?
```sql
select city from students
```
_what is the problem?_

to solve the problem use keyword `distinct`

```sql
select distinct city from students
```

## sorting

```sql
select * 
from table_name 
where condition 
order by column_name [ASC/DESC]
```

Example:
```sql
select student_id,student_name from students order by student_name
```
> NOTE: default is `ASC`


> Question: What if we use two columns to sort?

# Concatinations and Subtractions

## Union

find the name of students and professors:
```sql
select student_name from students
union
select professor_name from professors
```

## Intersect

find the students and professors which have same name
```sql
select student_name from students
intersect
select professor_name from professors
```


> NOTE: MySQL does not support `intersect`

# IN

find the students living in Tehran, Tabriz, Mashhad:
```sql
select * from students where city in ('Tehran','Tabriz','Mashhad')
```

# Nested Query

find the students studing in tehran:
```sql
select students.*
from college,students
where college.college_id=students.college_id
and college.city = 'Tehran'
```

OR we can use nested query:
```sql
select * 
from students
where college_id in (select college_id
                     from college
                     where city='Tehran');
```

> QUESTION: try to emulate the `intersect` using `in` operator

There are mainly two types of nested queries:
- **Independent Nested Queries:** In independent nested queries, query execution starts from innermost query to outermost queries. The execution of inner query is independent of outer query, but the result of inner query is used in execution of outer query. 
- **Co-related Nested Queries:** In co-related nested queries, the output of inner query depends on the row which is being currently executed in outer query.<br>
find the students studing in their own hometown:
```sql
select * 
from students
where college_id in (select college_id
                     from college
                     where city=students.city);
```
OR
```sql
select * 
from students
where college_id in (select college_id
                     from college
                     where collage.city=students.city);
```

# Computational Functions

‫‪COUNT,MIN,MAX,AVG,SUM‬‬

> NOTE: `NULL` values will be droped while using this functions

find the number of top ranked students:
```sql
select count(student_id)
from students
where average>=17;
```

> NOTE: its better to count over primary key.(why?)

## using distinct while using functions

find the number of courses in term 981:
```sql
select count(distinct course_id)
from sections
where term='981'
```

> QUESTION1: find the best GPA in computer college

> QUESTION2: find the name of the student with highest GPA in college number 10

> QUESTION3: find the GPA of student named 'JAVADI' in term 981